astroid
certifi
Cython
dj-database-url
Django
django-heroku
flake8
gunicorn
isort
lazy-object-proxy
mccabe
mkl-fft
mkl-random
numpy
pandas
pip
psycopg2
pycodestyle
pyflakes
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
wheel
whitenoise
wrapt
xgboost